body {
  margin: 0;
  // set overflow to hidden everywhere
  // apart from the scrolly container
  overflow: hidden;
}

div {
  // border: 1px solid tomato;
}

// Buttons
button {
  margin: 1em;
  font-size: 0.7em;
  color: #555;
}

// The wrapping set up.
#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  // @media (min-width: $tablet-up) {
  @media #{$tablet-up} {
    flex-direction: row;
  }
}
#visual-container {
  flex-grow: 1;
  background-color: lightskyblue;
}
#text-container {
  flex-grow: 1;
  background-color: papayawhip;
}
.wrapper {
  overflow: hidden;
  position: relative;
}

// Make the text wrapper scrollable.
#text-wrap {
  height: 100%;
  position: absolute;
  overflow: auto;
}

