body {
  margin: 0;
  // set overflow to hidden everywhere
  // apart from the scrolly container
  overflow: hidden;
  font-family: Signika;
  font-weight: 100;
  color: $colour-font;
}

// Buttons
button {
  margin: 1em;
  font-size: 0.7em;
  color: #555;
}

#loading {
  width: 100vw;
  height: 100vh;
  background: url('../static/paper-orange.jpg');

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 20;
  pointer-events: none;

  img {
    height: 70px;
    opacity: 0.75;
  }
}

// The wrapping set up.
#container {
  // Full width and height
  width: 100vw;
  height: 100vh;

  // One position
  position: absolute;
  top: 0;
  left: 0;

  // Scroll
  overflow-y: scroll;
  overflow-x: hidden;
  background: url('../static/paper-orange.jpg');
}

#container-inner {
  // Full width but as long as content, so height: auto
  // (or just no height) (this is the scrolling div)
  width: 100vw;

  // ☝️ Flex - col in mobile/row in desktop
  display: flex;
  flex-direction: column;

  // for the children width (not strictlye necessary as they are in vw)
  position: relative;

  @media #{$tablet-up} {
    flex-direction: row;
  }
}

#visual-container {
  // sticky
  position: sticky;
  top: 0;
  // need align-self for some flex-stretch reason. https://stackoverflow.com/a/44446672/3219033
  align-self: flex-start;

  // ☝️ Need to fill the height in desktop
  height: 60vh;

  // ☝️ Regulate the width (needs pendant in #text-container)
  width: 100vw;

  // To make the text invisible, this needs to be above the later
  // text div with an opaque background.
  z-index: 10;
  background: url('../static/paper-orange.jpg');

  // Border
  border-bottom: 2px solid transparent;
  border-right: none;
  border-image: url('../static/border-horiz.png') 30 stretch;

  @media #{$tablet-up} {
    // ☝️ Need to fill the height in desktop
    height: 100vh;

    // ☝️ Regulate the width (needs pendant in #text-container)
    width: 60vw;

    // Border
    border-bottom: none;
    border-right: 2px solid transparent;
    border-image: url('../static/border-vert.png') 30 stretch;
  }
}

#text-container {
  // ☝️ Regulate the width (needs pendant in #visual-wrap)
  width: 100vw;

  @media #{$tablet-up} {
    // ☝️ Regulate the width (needs pendant in #visual-wrap)
    width: 40vw;
  }
}

.wrapper {
  position: relative;
}

#brand {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  p {
    text-align: center;
    margin: 0 0 0.25em;
    font-size: 0.8em;
    color: #290e38;
  }

  #logo {
    margin: 0 auto;
    width: 6vw;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
