footer {
  padding: 1rem;
  margin-top: 1rem;

  background: linear-gradient($colour-bg-02, $colour-bg-03);
}

footer .footer-company__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    box-shadow: 0 0;
  }

  img {
    width: 6rem;
  }
}

footer .footer-company__description {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 0;
  }

  p {
    max-width: 80%;
    text-align: center;
  }
}

footer .footer-company__cta-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

  @media #{$laptop-m-up} {
    width: 60%;
  }

  @media #{$desktop-up} {
    width: 50%;
  }

  li {
    display: block;
    margin: 0.5rem 1rem;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0;

    img {
      width: 1.5rem;
    }

    p {
      font-size: 0.8em;
    }
  }
}
