#model-app {
  background-color: #f7f7f7;
  overflow: scroll;
}

#model-app-header {
  margin: 5vh 0;
  border: 1px solid #ccc; // DEBUG
  height: 100px; // DEBUG
}

#model-app-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.model-value-control {
  border: 1px solid #ccc; // DEBUG
  position: relative;
}

svg.control {
  width: 100%;
  height: 100%;
}