body {
  margin: 0;
  // set overflow to hidden everywhere
  // apart from the scrolly container
  overflow: hidden;
}

div {
  border: 1px solid lightskyblue;
}

// The wrapping set up.
#container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#visual-container {
  position: relative;
  flex-grow: 1;
  flex-basis: 1%;
  background-color: lightskyblue;
}
#text-container {
  flex-grow: 1;
  flex-basis: 1%;
  background-color: papayawhip;
}
.wrapper {
  min-width: 400px; // the paralell divs will wrap at 800px screensize
  overflow: hidden;
}

// Make the text wrapper scrollable.
#text-wrap {
  position: absolute;
  overflow: auto;
}

// Buttons
button {
  margin: 1em;
  font-size: 0.7em;
  color: #555;
}

// SVG
#svg-container {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

// Canvas
#canvas-main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
#canvas-level-1,
#canvas-level-2 {
  position: absolute;
  top: 0;
  left: 0;
}

#wine-scape {
  stroke-miterlimit: 1;
}

text {
  // font-family: 'Amatic SC', sans-serif;
  font-family: 'Arial', sans-serif;
}

// Initial state.
.lollipop {
  opacity: 0;
}

// The text
.section {
  font-family: Arial;
  color: #333;
  padding: 30rem 1rem;
}
