#container-intro {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin-bottom: 50vh;
  position: relative;

  @media #{$tablet-up} {
    width: 60%;
  }

  @media #{$laptop-m-up} {
    width: 40%;
  }
}

// Title
#title-section {
  margin: 4rem 0;
  font-family: 'Amatic SC';
  min-height: 100vh;

  #title-image {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  // Wave.
  #title-text h2 {
    font-size: 15vw;
    margin: 0;

    @media #{$tablet-up} {
      font-size: 12vw;
    }

    @media #{$laptop-m-up} {
      font-size: 10vw;
    }

    // The two headers (stroke and wave) overlap each other and
    // get centered as abs. elements without knowing their width.
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap; // otherwise text will break.
  }

  #title-text h2:nth-child(1) {
    // First header is just a stroke with a text-shadow.
    color: transparent;
    text-shadow: 4px -4px 10px #ece1e1;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-stroke: 1px rgba(0, 0, 0, 0.1);
  }

  #title-text h2:nth-child(2) {
    // The second header is a clip path animation
    // with the transparent text as the clipping path.
    background: linear-gradient(to right, #532c69, #111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: wave 10s ease-in-out infinite;
  }

  // color: transparent doesn't work in firefox.
  // This is how to set it to its default value instead.
  @-moz-document url-prefix() {
    #title-text h2:nth-child(2) {
      color: currentColor;
    }
  }

  #title-text h2:nth-child(3) {
    // The third element just ellbows free the space.
    position: relative;
    visibility: hidden;
    z-index: -1;
  }

  h3 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 3vw;
    margin: 0px;
    color: #2a1835;
  }
}

#intro-text {
  width: 100%;
  margin: auto;

  @media #{$tablet-up} {
    width: 80%;
  }

  p {
    width: 80%;
    margin: 1em auto;
    font-size: 1.2em;
  }
}

.scroll-arrow {
  margin: 3rem 0 auto;
  text-align: center;
  animation: scroll 5s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 50%,
      8% 47%,
      16% 46%,
      22% 47%,
      30% 49%,
      35% 52%,
      43% 52%,
      50% 50%,
      59% 47%,
      65% 44%,
      72% 43%,
      79% 46%,
      85% 50%,
      93% 50%,
      100% 47%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 41%,
      6% 46%,
      14% 49%,
      23% 51%,
      30% 47%,
      37% 42%,
      45% 40%,
      53% 42%,
      60% 46%,
      68% 50%,
      74% 54%,
      82% 53%,
      90% 50%,
      96% 46%,
      100% 43%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes scroll {
  0%,
  100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}
