// Outro button

#outro {
  position: absolute;
  left: -10vw;
  bottom: 2vh;
  width: 40px;
  cursor: pointer;
  z-index: 1000;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 3px;
    transition: all 0.5s;
  }
}

#outro img:hover {
  box-shadow: 2px 2px 4px;
  background: #ece7d7;
}

// Outro modal
#outro-modal-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(27, 17, 31, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 30;

  // default state.
  opacity: 0;
  pointer-events: none;
}

#outro-modal-inner {
  width: 90vw;
  height: 80vh;
  position: relative;
  overflow: scroll;

  background: url('../static/paper-crease.jpg');

  border-radius: 2px;
  box-shadow: 3px 3px 1px #8a827c;

  @media #{$tablet-up} {
    width: 80vw;
  }

  #outro-close {
    position: sticky;
    top: 2%;
    left: 92%; // right doesn't work for some reason.
    width: 1.25rem;
    transition: transform 0.5s;
    cursor: pointer;

    @media #{$tablet-up} {
      left: 95%;
    }
    img {
      max-width: 100%;
    }
  }

  #outro-close:hover {
    transform: scale(1.25);
  }
}

#outro-modal-text {
  margin: 5rem auto 3rem;
  width: 80%;
  background-color: radial-gradient(rgba(255, 255, 255, 0.3), transparent);
  font-size: 1.2em;

  @media #{$tablet-up} {
    width: 60%;
  }

  h3 {
    font-weight: 300;
    text-align: center;
    margin: 2em;
  }
}

#credits {
  width: 60%;
  margin: 3rem auto 5rem;
  padding-top: 3rem;
  font-size: 0.9em;

  // Border
  border-top: 5px solid transparent;
  border-image: url('../static/border-horiz.png') 30 stretch;
}
