// The text

// Main section.
.main-section {
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    position: sticky;
    top: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 30vh;
    text-align: end;
    color: #777;
    background: none;
    box-shadow: none;
    opacity: 0.95;
    z-index: 10;

    @media #{$tablet-up} {
      background: url('../static/paper-orange.jpg');
      box-shadow: 0px 1px 0px #777; // border doesn't show sometimes 🤷‍♂️
    }
  }

  h1 + .section {
    padding-top: 1rem;
  }

  .section {
    padding-top: 40vh;
    padding-bottom: 40vh;
    font-size: 1em;
    width: 80%;
    margin: auto;

    @media #{$tablet-up} {
      font-size: 1.2em;
    }
  }

  .section.empty {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }

  .section:last-child {
    padding-bottom: 2rem;
  }

  .image-wrap {
    position: relative;
    width: 100%;
    text-align: center;

    img {
      max-width: 90%;

      @media #{$phone-up} {
        max-width: 50%;
      }
      @media #{$tablet-up} {
        max-width: 100%;
      }
      @media #{$laptop-s-up} {
        max-width: 80%;
      }
      @media #{$laptop-m-up} {
        max-width: 60%;
      }
      @media #{$desktop-up} {
        max-width: 30%;
      }
    }
  }
}

// Links
a {
  position: relative;
  color: $colour-link-font;
  box-shadow: inset 0 -0.2em 20px 0 $colour-link-bg;
  transition: all 0.3s;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: $colour-link-hover;
  box-shadow: inset 0 -0.2em 5px 0 $colour-link-bg;
}

// Specific.
span.highlight {
  font-size: 1.1em;
  color: #111;
  font-weight: bold;
}

span.good {
  color: $colour-good;
}

span.bad {
  color: $colour-bad;
}

.center {
  text-align: center;
}

p.tight-top {
  margin-top: 0.25em;
}
p.tight-bottom {
  margin-bottom: 0.25em;
}

span.arrow::after {
  content: '↑';
  @media #{$tablet-up} {
    content: '←';
  }
}
