<h1>The shape of the data</h1>

<div class="section section-44">
  <p>
    Here are 1600 tiny bottles (disguised as dots) unfolding into a well-behaved grid.
  </p>
  <p>
    Let's give them some shape...
  </p>
</div>

<div class="section section-45">
  <p>
    Here’s Alcohol. Most wines are between 9 and 12% with quite a few bottles around the 9.5 mark.
  </p>
</div>

<div class="section section-46">
  <p>
    Density is in a classic, normally distributed shape with a mean of 0.997 for what it’s worth.
  </p>
</div>

<div class="section section-47">
  <p>
    Citric Acid - which has the powers to add notes of freshness to your wine – seems to be quite equally or uniformly distributed with up to a certain level.
  </p>
</div>

<div class="section section-48">
  <p>
    The average pH value of a wine is 3.3, which is rather acidic, on a par with Orange Juice but still with a safe distance to Battery acid with a pH of 0. 
  </p>
</div>

<div class="section section-49">
  <p>
    There are others of course, but one key variable in our data is of course:
  </p>
</div>

<div class="section section-50">
  <p>
    Quality!
  </p>
  <p>
    Here’s how our wine experts marked all our wines on a scale from 0 to 10. 
  </p>
  <p>
    Let's note that no wine got worse than 3 or better than 8 and most wines clustered around the 5 or 6 mark with an average of 5.6.
  </p>
  <p>
    That’s all good to know, but we’re not after individual variable distributions, we want to know how they relate to each other and specifically how they relate to quality. In order to make that more visible, let’s split all our wines into two groups: 
  </p>
</div>

<div class="section section-51">
  <p>
    Bad wines and good wines.
  </p>
  <p>
    We’re going along with the wine quality literature, which suggests labelling all wines marked 6 or lower bad and all wines marked 7 or higher as good. Looking at for example Volatile Acidity...
  </p>
</div>

<div class="section section-52">
  <p>
    We can see how the blue, better wines (<a href="https://wineeconomist.com/2010/02/21/curse-of-the-blue-nun/">Blue Nun</a> has nothing to do with the colour choice) predominantly sport lower levels and &mdash; reversely the worse wines have the highest levels of Volatile Acidity. 
  </p>
  <p>
    This doesn’t surprise as high levels of acetic acid lead to vinegar rather than wine. 
  </p>
  <p>
    We can look at the same data in a
  </p>
</div>

<div class="section section-53">
  <p>
    scatter plot that maybe more clearly suggests that the lower the volatile acidity, the higher the Quality.
  </p>
  <p>
    Another variable of potential interest is Alcohol...
  </p>
</div>

<div class="section section-54">
  <p>
    The association is flipped here &mdash; higher quality wines are likely to have more alcohol as a solid proportion of especially wines around the 12-13% mark was voted good. 
  </p>
  <p>
    It’s particularly interesting how just a handful of wines are deemed good in that most populated 9.5% section…
  </p>
</div>

<div class="section section-55">
  <p>
    The scatter plot shows this general trend. The higher the alcohol, the better the wine.
  </p>
  <p>
    Great! We know there are some associations between the physiochemical properties and the wine quality. Let's see if we can build a model.
  </p>
</div>
