<h1>Learning by example</h1>

<div class="section section-12">
  <p>
     We want it to learn how to tell a good wine from a bad wine – how to predict, in this case <span class="highlight">classify</span> each wine. But the model doesn't have our senses. It can't see, taste, or feel a wine, and we can’t be there for it in the future, to pre-taste each wine. It needs to stand on its own data columns. 
    </p>
    <p>
     This process is called <a href="https://www.analyticsvidhya.com/blog/2020/04/supervised-learning-unsupervised-learning/" target="_blank">supervised learning</a> and we all know its powers from our own childhood. 
  </p>
</div>

<div class="section section-13">
  <p>
    Think back to the days when you learned your animal names. 
  </p>
  <p>
    You were probably just sitting in a proudly self-concocted puddle of peas, mash and apple juice leafing through a picture book of animal drawings, while your father tried to teach you what a sloth looks like.
  </p>
</div>

<div class="section section-14">
  <p>
    Any of these shapes could have been a sloth,
  </p>
</div>

<div class="section section-15">
  <p>
    but your father calmly supervised your learning,
  </p>
</div>

<div class="section section-16">
  <p>
    by labelling the non-sloths
  </p>
</div>

<div class="section section-17">
  <p>
    and celebrating the actual sloths!
  </p>
</div>

<div class="section section-18">
  <p>
    And even though not every sloth looks the same,
  </p>
</div>

<div class="section section-19">
  <p>
    after many examples, you learned the basic features that make up a sloth. 
  </p>
</div>

<div class="section section-20">
  <p>
    Now, although you sometimes weren't sure whether that thing you looked at was a sloth indeed &mdash; possibly because the picture book was a bit rubbish &mdash; you learned to give it a good guess at least. 
  </p>
  <p>
    You scanned the concoction of lines and shapes that made up the animal and gauged how likely it is for this thing to be a sloth.
  </p>
  <p>
    That's exactly what a mathematical model does, too: you give it <span class="highlight">examples</span> (many at best) → you <span class="highlight">label</span> them with what you want your model to learn → and let it detect <span class="highlight">patterns</span> that help your concluding → <span class="highlight">classification</span>.
  </p>
</div>

<div class="section section-21">
  <p>
    So &mdash; turning our sloth back into a bottle of wine
  </p>
</div>

<div class="section section-22">
  <p>
    it turns out that if you want your model to differentiate between
  </p>
</div>

<div class="section section-23">
  <p>
    ...a high quality
  </p>
</div>

<div class="section section-24">
  <p>
    ...and a low quality wine &mdash; a single specimen won’t be enough.
  </p>
</div>

<div class="section section-25">
  <p>
    Just like a single animal drawing won't teach your child what a sloth is, you need as many wines as you can get hold of.
  <p>
  </p>
    Let's get some...
  </p>
</div>

<div class="section section-26">
    {{! empty }}
</div>

<div class="section section-27">
  <p>
    Each wine in this dataset &mdash; let's call it a <a href="https://developers.google.com/machine-learning/crash-course/training-and-test-sets/splitting-data" target="_blank">training set</a> &mdash; is labelled as either <span class="good">good</span> or <span class="bad">bad</span>.
  </p>
</div>

<div class="section section-28">
  <p>
    In a next step you can split these wines into their respective quality group and identify how their features differ for each group. How, for example, good wines tend to have a higher alcohol level than bad wines. Or how lower amounts of chlorides seem to increase the quality.
  </p>
  <p>
    So, what we need, in short, is a large dataset with labelled data!
  </p>
</div>
