<h1>A grown up model</h1>

<div class="section no-trigger">
  <p>
    These are the basics. 
  </p>
  <p>
    For our full model we draw a curve not only for one but for eleven predictors, which is pretty impossible to display visually as you can imagine. 
  </p>
  <p>
    We’re also skipping the details here on how to find this best curve. We do this with an optimisation process that finds the curve closest to the data. For logistic regression we would typically use an optimisation process called <strong>maximum likelihood</strong>. 
  </p>
  <p>
    Lastly, we would always check the accuracy of the model, by testing it on labelled data without giving the labels away  &mdash; not a training but a test dataset. This very logistic regression model achieved an accuracy of 79%, meaning that 79% of all cases got predicted correctly. 
  </p>
  <p>
    Spending more time on model selection and engineering <a href="http://cs229.stanford.edu/proj2019aut/data/assignment_308875_raw/25892857.pdf">can in fact get this up to 95%</a></p>.
  </p>
</div>

<div class="section section-61">
  <p>
    You also get other useful tools from different models.
  </p>
</div>

<div class="section section-62">
  <p>
    For example, a model from the <a href="https://en.wikipedia.org/wiki/Random_forest">Random Forest</a> family will enlighten you with a neat ranking of which variables are most important in our predictions.
  </p>
  <p>
    In this case, alcohol appears to have the biggest impact on quality, followed by volatile acidity (no vinegar please) and the amount of sulphates acting as antimicrobial and antioxidant. 
  </p>
</div>

<div class="section no-trigger">
  <p>
    Used together, a model and variable importance can flag the current state of the wine quality as well as potentially providing informed ideas as to whether, where and what changes might help improve the overall wine quality during the process of wine making. Each predictor, each variable in your data can be considered a model screw you can adjust to achieve the highest quality wine. 
  </p>
</div>

<div class="section section-63">
  {{! empty }}
</div>

<div class="section section-64">
  <p>
    Try it for yourself...
  </p>
</div>

<div class="section section-65">
  <p>
    ← This wine over there isn't that great yet. It's only 5% full - which meas its physiochemical properties indicate only a 5% chance of it being good. This is what you get when taking the average value for each wine property. 
  </p>
  <p>
    You can change that though by scrolling down to our little quality simulator. You get a handle for each property which you can operate to add or decrease that very ingredient. The area behind the handle additionally shows the distribution of that property. 
  </p>
  <p>
    Now it's up to to fiddle with the handles in order to produce a winner &mdash; or a washout... 
  </p>
</div>

