<div class="section section-0 empty">
  {{! empty }}
</div>

<h1>How to describe a wine?</h1>

<div class="section section-1">
  <p>
    Before we dive into our conceptual model, let's note that "wine quality" is a highly imprecise term in the model we will build and can mean many things depending on the context it's used in and the criteria with which it was measured.
  </p>
  <p>
    A casual wine drinker defines wine quality different from a wine expert and might even judge the same wine differently when drunk at different occasions. Low-quality expensive wines might be better than cheap wines deemed good. A wine region might be interested to keep a base standard of quality for its wines, it loosely defines on regular tastings of sample wines.
  </p>
  <p>
    Hence, a quality predicting model is unlikely to rank every wine out there on a universally approved quality scale. Reality is too complex, contexts are too different, taste is too subjective and — as a sense — not fully understood to capture such perfection mathematically.
  </p>
</div>

<div class="section no-trigger">
  <p>
    So, assuming we wanted to predict a wine's quality, we first need to define exactly what we mean by "quality" &mdash; the output of our prediction model. Equally important, we would need model inputs in the form of measurable information about the wine we can use to build a prediction on.
  </p>
</div>

<div class="section section-2">
  <p>
    These inputs could be as abstract as the shape of the wine bottle, which, however, might not exactly be linked heavily to any concept of quality (other than the aesthetic quality of the bottle shape maybe).
  </p>
</div>

<div class="section section-3">
  <p>
    Information about the brand, the vintage and the varietal might be better predictors of taste-related quality. 
  </p>
  <p>
    In case you know your wines, this label information can be enough for you to get an idea of the wine's quality prior to tasting it, so we might also be able to teach a model about labels.
  </p>
</div>

<div class="section section-4">
  <p>
    We could also try to describe the very liquid and decompose it into measurable, <span class="highlight">physiochemical properties</span> like alcohol, sugars, acids, etc.
  </p>
</div>

<div class="section no-trigger">
  <p>
    Defining and describing our object of study is the first step to a model. What next?
  </p>
</div>
