
<div id="title-section">
  <div id="title-image">
    <img src="../../static/bush.png">
  </div>
  <div id="title-text">
    <h2>Wine Quality</h2>
    <h2>Wine Quality</h2>
    <h2>hidden placeholder element keeping the height</h2>
  </div>
</div>
<div id="intro-text">
  <p>
    For better or worse, wine has been with us for quite some time. We started yeast fermentation in the stone age, made the first dedicated wine jars some 7,000 years ago and marvelled at King Tutankhamun who took <a href="https://www.scientificamerican.com/article/king-tut-drank-red-wine-r/">26 jars of wine to his grave</a>. 
  </p>
  <p>
    While we didn’t lose dedication or interest, a few things changed since then. We rarely stomp grapes with our feet, we use barrels rather than beeswaxed terracotta for storage and at some point we even gave up mixing in seawater and honey to improve the wine's palate. 
  </p>
  <p>
    Yet, one key question is still of crucial importance: what makes a wine a good wine? 
  </p>
  <p>    
    The Roman would have had an ideal amount of saltwater and maybe even a certain type of honey to get it right. Today, the winemaker's concern with honey is likely to be limited to her breakfast habits. However, she'll still try to manipulate a wine’s quality by controlling the wine’s very properties &mdash; sugar, sulfates, alcohol, and others.
  </p>
  <p>
    This piece wonders if we can use these properties to predict a wine's quality...
  </p>
  <div class="scroll-arrow">↓</div>
</div>
