<h1>A conceptual model</h1>

<div class="section section-5">
  <p>
    We could now boldly assume these properties are associated with wine quality — meaning that a certain composition of these properties associates with a high-quality wine &mdash; however we define quality in detail &mdash;
  </p>
</div>

<div class="section section-6">
  <p>
    while a different set of properties associate with a lower quality wine.
  </p>
</div>

<div class="section section-7">
  <p>
    We might hope to find a combination that yields the highest possible quality, but what actually matters for the model is to establish reliable relationships within the data,
  </p>
</div>

<div class="section section-8">
  <p>
    so it can &mdash; in our case &mdash; <span class="highlight">express wine quality as a function of its properties</span> entirely.
  </p>
</div>

<div class="section section-9">
  <p>
    We would have a <span class="highlight">mathematical model</span> that takes a wine's properties as input
  </p>
</div>

<div class="section section-10">
  <p>
    and returns some sort of estimate as to whether this wine is leaning towards being good or not so good. It can help us classify wines within our quality context.
  </p>
</div>

<div class="section no-trigger">
  <p>
    Let’s take a step back and consider what a model actually is.
  </p>
  <p>
    In technical terms, a model reduces relationships between individual data columns to an equation. We would possibly want to reduce our wine problem to something like this:
  </p>
  <div class="image-wrap">
    <img src="../../static/equation@2x.png" alt="wine quality equation">
  </div>
    <p>
    This is a rather simple envelope’s backside, but in essence it’s an equation that relates some inputs to an output. In our case it relates the configuration of the wine's components to its quality.
  </p>
  <p>
    We have the inputs weighted by some input-specific factor which tells the model how much impact the respective property has on the output. The greater the weights → the more impact they have. 
  </p>
</div>

<div class="section section-11">
  <p>
    The benefit of this equation in this case is that we can take it with us and throw any combination of wine properties at it in order to get an estimate about its quality without knowing anything about it prior.
  </p>
  <p>
    But how does the model get these weights? How does it learn which property drives quality to what degree?
  </p>
  <p>
    This is where we need to take our model by the hand and teach it.
  </p>
</div>
