<h1>The shape of the data</h1>

<div class="section section-44">
  <p>
    Here are 1,600 tiny bottles (disguised as dots) unfolding into a well-behaved grid.
  </p>
  <p>
    Let's give them some shape...
  </p>
</div>

<div class="section section-45">
  <p>
    Here’s <span class="highlight">Alcohol</span>. Most wines are between 9 and 12% with quite a few bottles around the 9.5% mark. This is low for reds, which tend to be <a href="https://winefolly.com/tips/alcohol-content-in-wine/" target="_blank">between 12 and 15%</a>.
  </p>
</div>

<div class="section section-46">
  <p>
    <span class="highlight">Density</span> is in a classic, pyramid or normally distributed shape with a mean of 0.997. Wines lower than that tend to be on the dry side.
  </p>
</div>

<div class="section section-47">
  <p>
    <span class="highlight">Citric Acid</span> &mdash; can be used as a supplement during fermentation to boost the wine's acidity. Vinho Verde wines should all be under 1 g/L &mdash; the <a href="https://www.randoxfood.com/why-is-testing-for-citric-acid-important-in-winemaking/" target="_blank">limit</a> for wines from within the EU.
  </p>
</div>

<div class="section section-48">
  <p>
    The average <span class="highlight">pH</span> value of a wine is 3.3 &mdash; quite low <a href="https://winefolly.com/deep-dive/understanding-acidity-in-wine/" target="_blank">in comparison to your average reds</a>.
  </p>
</div>

<div class="section section-49">
  <p>
    There are other measures, but one key variable in our data is of course...
  </p>
</div>

<div class="section section-50">
  <p>
    <span class="highlight">Quality</span>
  </p>
</div>

<div class="section no-trigger">
  <p>
    Here’s how the Commisssion's wine assessors marked all wines on a scale from 0 to 10. 
  </p>
  <p>
    Let's note that no wine got worse than 3 or better than 8 and most wines clustered around the 5 or 6 mark with an average of 5.6.
  </p>
</div>


<div class="section no-trigger">
  <p>
    These individual distributions are key to get a base understanding for our data, but ultimately, we want to know how the physiochemical properties relate to each other and specifically how they relate to quality. 
  </p>
  <p>
    In order to make that more visible, let’s split all our wines into two groups: 
  </p>
</div>

<div class="section section-51">
  <p>
    wines of <span class="bad">lower quality</span> and <span class="good">wines of high quality</span>.
  </p>
  <p>
    The top two marks given are likely to describe the best wines in the data. Judging from the distribution, the few wines with marks 3 and 4 are deemed the lowest quality wines, while the majority of mediocre wines mingle in the centre. As such, <span class="highlight">"high-quality"</span> for this dataset really does mean good from the judges' perspective, while <span class="highlight">"low-quality"</span> includes average wines as well as truly low-quality wines.
  </p>
</div>

<div class="section no-trigger">
  <p>
    We can now check how our variables distribute across these two simple categories. Looking at for example <span class="highlight">Volatile Acidity</span>...
  </p>
</div>

<div class="section section-52">
  <p>
    we see how the blue, better wines predominantly sport lower levels and &mdash; reversely &mdash; the worse wines have the highest levels of volatile acidity, potentially impacting taste in a negative way.
  </p>
  <p>
    We can look at the same data in a scatter plot,
  </p>
</div>

<div class="section section-53">
  <p>
    which maybe more clearly suggests that the lower the volatile acidity → the higher the quality.
  </p>
</div>

<div class="section section-54">
  <p>
    Another variable of potential interest is <span class="highlight">Alcohol</span>...
  </p>
</div>

<div class="section no-trigger">
  <p>
    The association is flipped here &mdash; higher quality wines are likely to have more alcohol as a solid proportion of especially wines around the 12-13% mark was voted good. 
  </p>
  <p>
    <span class="arrow"></span>Look at that 9.5% bar. Considering this is the most populated section, it’s interesting to see how few wines are deemed high quality in here.
  </p>
</div>

<div class="section section-55">
  <p>
    The scatter plot also shows the general trend. The higher the alcohol → the better the wine.
  </p>
  <p>
    Great! We know there are some associations between the physiochemical properties and the wine quality. Let's see if it's enough to build a model.
  </p>
</div>
