
<div id="title-image">
  <img src="../../static/bush.png">
</div>

<div id="title-text">
  <div id="title-header">
  <h2>Wine Quality</h2>
  <h2>Wine Quality</h2>
  <h2>hidden placeholder element keeping the height</h2>
</div>
<h3 id="title-subheader">How to teach a model to taste</h3>
  <div class="scroll-arrow">↓<br/><span class="lowlight">scroll</span></div>
</div>

<div id="intro-text">
  <p>
    Wine has been with us for quite some time. We started yeast fermentation in the stone age, made the first dedicated wine jars some 7,000 years ago and marvelled at Tutankhamun taking <a href="https://www.scientificamerican.com/article/king-tut-drank-red-wine-r/" target="_blank">26 jars of wine to his grave</a>. 
  </p>
  <p>
    A few things have changed on the way, though. Grapes are rarely feet stomped, barrels replaced beeswaxed terracotta for storage and neither seawater nor honey are used to improve the wine palate anymore.
  </p>
  <p>
    There's a lot more known about wine and how to make it these days. Winemakers have more controlled facilities and while tasting still plays a central role, their decisions also rely on analytical tools that help guide the winemaking process.
  </p>
  <p>    
    This article tries to shine a light on a particular technique: <span class="highlight">predictive modelling</span> and how it could help to predict something useful about a wine.
  </p>
  <p>
    We first look at what a predictive model is and how it operates in broad conceptual terms, before building a simple model with an actual dataset containing physiochemical properties as inputs and wine quality as the output to be predicted.
  </p>
  <p>
    Lastly, we build a little prediction simulator for our model. Something to play with 🪁
  </p>
</div>
