
<div id="top-logo">
  <a href="https://vinoez.com/" target="_blank" rel="noreferrer">
    <img inline src="../../static/vinoez.svg"/>
  </a>
</div>
<div id="title-image">
  <img src="../../static/grape-tree.png" alt='grapevine'>
</div>
<div id="title-text">
  <div id="title-header">
    <h2>Wine Quality</h2>
    <h2>Wine Quality</h2>
    <h2>hidden placeholder element keeping the height</h2>
  </div>
  <h3 id="title-subheader">How to teach a model to taste</h3>
  <h4><a class="subtle" href="https://www.datamake.io">by Lars Verspohl<a></h4>
</div>

<div id="intro-text">
  <p>
    Wine has been with us for quite some time as has the art and craft of winemaking. While core elements of winemaking have not changed over the eons some things have.Winemakers have more controlled facilities and while tasting still plays a central role, their decisions also rely on analytical tools that help guide the winemaking process.
  </p>
  <p>
    In this piece, we look at one particular technique that might assist this process: <span class="highlight">predictive modelling</span>. We’ll build a statistical model trying to predict a wine’s quality by its properties...
  </p>
</div>

<div class="scroll-arrow">↓<br/><span class="lowlight">scroll</span></div>
