<h1>What makes a wine a wine</h1>

<div class="section section-0">
  <p>
    It turns out we can pretty well - with the right kind of data and model.
  </p>
</div>

<div class="section section-1">
  <p>
    But let's maybe have a look at what exactly we mean and why we think this is a good idea at all...
  </p>
</div>

<div class="section section-2">
  <p>
    Assuming we have a bottle of wine, we can describe this wine in various ways.
  </p>
</div>

<div class="section section-3">
  <p>
    We can give it a varietal, a vintage, maybe a name, which is how we would identify a wine in a conversation.
  </p>
  <p>
    If you know your wines, you might be reasonably or indeed rather good in telling a wine's quality without even having to taste it.
  </p>
</div>

<div class="section section-4">
  <p>
    However, a possibly more concise way to describe a wine might be to focus on the very liquid itself and decompose the wine into its <span class="highlight">physiochemical properties</span>.
  </p>
  <p>
    The main benefit of such a description is precision. Vintages, varietals and names are an approximate illustration of a wine summarising and representing information like soil, climate as well as production factors.
  <p>
  </p>
    Physiochemical properties, in turn, are a concise characterisation of the very wine itself. The focus is on the liquid's composition rather than the wine's production context.
  </p>
  <p>
    But how could this help us?
  </p>
</div>
