<div class='footer-company'>
	<div class='footer-company__about'>
		<a href='https://vinoez.com/' target="_blank" rel="noreferrer">
			<img inline src='../../static/vinoez.svg'>
		</a>
		<div class='footer-company__description'>
			<h3>
				Plan your winery operations
			</h3>
			<p>
				From planning out the various steps in blending to scheduling harvest, vinoEZ provides a central location for winemakers, the cellar team, viticulturists and management to track and facilitate work.
			</p>
		</div>
	</div>
	<div class='footer-company__cta'>
		<ul class='footer-company__cta-list'>
			<li>
				<a href='https://vinoez.com/' target="_blank" rel="noreferrer">
					<img inline src='../../static/brand/info.svg'>
					<p>ABOUT</p>
				</a>
			</li>
			<li>
				<a href='https://vinoez.com/contact-us/' target="_blank" rel="noreferrer">
					<img inline src='../../static/brand/mail.svg'>
					<p>CONTACT</p>
				</a>
			</li>
		</ul>
	</div>
</div>