<h1>A conceptual model</h1>

<div class="section section-5">
  <p>
    Given a wine's physiochemical properties we could boldly assume they are associated to wine quality - meaning that a certain composition of these properties result in a good wine,
  </p>
</div>

<div class="section section-6">
  <p>
    while a different set of properties fails to please distinguished palates entirely.
  </p>
</div>

<div class="section section-7">
  <p>
    Naturally, we won’t rest before finding the golden formula.
  </p>
  <p>
    If this was the case, we could express wine quality as a function entirely of its properties
  </p>
</div>

<div class="section section-8">
  {{! empty }}
</div>

<div class="section section-9">
  <p>
    We would have a model that would take a wine's properties as input
  </p>
</div>

<div class="section section-10">
  <p>
    and would return some sort of estimate as to whether this wine is leaning towards being good or bad.
  </p>
  <p>
    This model would not be able to tell every good wine from a bad wine. Reality is too complex, taste too subjective and - as a sense - not fully understood to capture such perfection mathematically. However, as we will see, a model can be accurate enough to support the oenologist's evaluations, improving the quality and speed of their decisions.
  </p>
  <p>
    How would we go about this? Well, let’s maybe take a step back and consider what a model actually is.
  </p>
  <p>
    In technical terms, a model reduces relationships between individual datapoints or variables to an equation. We would possibly want to reduce our wine problem to something like this:
  </p>
</div>

<div class="section section-11">
  <p>
    This is a rather simple envelope’s backside, but in essence it’s an equation that relates the ingredient configuration to wine quality. An equation we can carry around with us to throw at any combination of ingredients.
  </p>
  <p>
    Seems simple, but how do we know the impact each variable has on the quality? How do we find these weights?
  </p>
</div>
