<h3>What next, then?</h3>

<p>
  This little exploration was supposed to give you an idea of how machines can learn, enlighten and possibly augment the work of a winemaker &mdash; becoming a co-pilot for fine-tuning the process of winemaking by classifying high quality wine. 
</p>
<p>
  For explanation's sake we looked at rather simple models and took a few shortcuts in order to focus on the basics. A logical next step would be to engineer a model that is more accurate as well as more flexible in its predictions. 
</p>
<p>
  Considering flexibility, you might have wondered, for example, how easy it is to get a good wine with our model by just cranking up the alcohol to the max and muting Volatile Acidity to the minimum. This behavior is a feature of all linear models, like Logistic Regression. While the model itself is not a line but a curve as we've seen, it still models <span class="highlight">correlation</span> &mdash; how things move up, down or in opposite directions together. As such it won't be able to identify <span class="highlight">non-linear relationships</span> &mdash; an Alcohol tipping point for example, after which quality decreases again.
</p>
<p>
  Another improvement would be to build a model not only on general Vinho Verde data but (also) historic <span class="highlight">tasting data</span> from the winery. You would get a helping hand that leverages all your past experience to improve your future qualities...
</p>
