<h1>The shape of the data</h1>

<div class="section section-44">
  <p>
    Here are 1,600 tiny bottles (disguised as dots) unfolding into a well-behaved grid.
  </p>
  <p>
    Let's give them some shape...
  </p>
</div>

<div class="section section-45">
  <p>
    Here’s <span class="highlight">Alcohol</span>. Most wines are between 9 and 12% with quite a few bottles around the 9.5% mark, which is what you'd expect, I guess.
  </p>
</div>

<div class="section section-46">
  <p>
    <span class="highlight">Density</span> is in a classic, pyramid or normally distributed shape with a mean of 0.997 (you don't need to remember that value).
  </p>
</div>

<div class="section section-47">
  <p>
    <span class="highlight">Citric Acid</span> &mdash; potentially adding notes of freshness to your wine &mdash; seems to be equally or uniformly distributed up to a certain level.
  </p>
</div>

<div class="section section-48">
  <p>
    The average <span class="highlight">pH</span> value of a wine is 3.3, which is rather acidic. It's on a par with orange juice but still secures a safe distance to battery acid with a pH value of 0. 
  </p>
</div>

<div class="section section-49">
  <p>
    There are other measures, but one key variable in our data is of course...
  </p>
</div>

<div class="section section-50">
  <p>
    <span class="highlight">Quality</span>
  </p>
</div>

<div class="section no-trigger">
  <p>
    Here’s how our wine experts marked all our wines on a scale from 0 to 10. 
  </p>
  <p>
    Let's note that no wine got worse than 3 or better than 8 and most wines clustered around the 5 or 6 mark with an average of 5.6.
  </p>
</div>


<div class="section no-trigger">
  <p>
    That’s all good to know, but we’re not after individual variable distributions, we want to know how the physiochemical properties relate to each other and specifically how they relate to quality. 
  </p>
  <p>
    In order to make that more visible, let’s split all our wines into two groups: 
  </p>
</div>

<div class="section section-51">
  <p>
    <span class="bad">Bad wines</span> and <span class="good">good wines</span>.
  </p>
  <p>
    We’re going along with the wine quality <a href="https://scinapse.io/papers/2103459159">literature</a>, which suggests labelling all wines marked 6 or lower bad and all wines marked 7 or higher as good. 
  </p>
  <p>
    To be clear, <span class="highlight">"good"</span> really does mean good from the judges' perspective. It includes the top 2 marks the wine experts gave. However, <span class="highlight">"bad"</span> rather means "not good" as it also includes wines with a rating of 5 or 6 of which many are surely decent to average in the judges minds. But, if you allow, we'll continue calling them "bad" here for simplicity's sake.
  </p>
</div>

<div class="section no-trigger">
  <p>
    We can now see how our variables distribute across these two simple categories. Looking at for example <span class="highlight">Volatile Acidity</span>...
  </p>
</div>

<div class="section section-52">
  <p>
    we can see how the blue, better wines (<a href="https://wineeconomist.com/2010/02/21/curse-of-the-blue-nun/">Blue Nun</a> had nothing to do with the colour choice) predominantly sport lower levels and &mdash; reversely &mdash; the worse wines have the highest levels of volatile acidity. 
  </p>
  <p>
    This doesn’t surprise too much as we've already established how high levels of acetic acid lead to vinegar rather than wine. 
  </p>
  <p>
    We can look at the same data in a scatter plot,
  </p>
</div>

<div class="section section-53">
  <p>
    which maybe more clearly suggests that the lower the volatile acidity → the higher the quality.
  </p>
</div>

<div class="section section-54">
  <p>
    Another variable of potential interest is <span class="highlight">Alcohol</span>...
  </p>
</div>

<div class="section no-trigger">
  <p>
    The association is flipped here &mdash; higher quality wines are likely to have more alcohol as a solid proportion of especially wines around the 12-13% mark was voted good. 
  </p>
  <p>
    <span class="arrow"></span>Look at that 9.5% bar. Considering this is the most populated section, it’s interesting to see how few wines are deemed good in here.
  </p>
</div>

<div class="section section-55">
  <p>
    The scatter plot also shows the general trend. The higher the alcohol → the better the wine.
  </p>
  <p>
    Great! We know there are some associations between the physiochemical properties and the wine quality. Let's see if we can build a model.
  </p>
</div>
