<h1>Learning by example</h1>

<div class="section section-12">
  <p>
    We want it to learn how to tell a good wine from a less good wine; how to predict &mdash; in this case <span class="highlight">classify</span> &mdash; each wine. But the model doesn't have our senses. It can't see, taste, or feel a wine, and we can’t be there for it in the future, to pre-taste each wine. We need to teach it to recognise a good wine by example, so it can stand on its own data columns.
  </p>
  <p>
     This process is called <a href="https://www.analyticsvidhya.com/blog/2020/04/supervised-learning-unsupervised-learning/" target="_blank">supervised learning</a> and we all know its powers from our own childhood. 
  </p>
</div>

<div class="section section-13">
  <p>
    Think back to the days when you learned your animal names. 
  </p>
  <p>
    You were probably just sitting in a proudly self-concocted puddle of peas, mash and apple juice leafing through a picture book of animal drawings, while your father tried to teach you what a sloth looks like.
  </p>
</div>

<div class="section section-14">
  <p>
    Any of these shapes could have been a sloth,
  </p>
</div>

<div class="section section-15">
  <p>
    but your father calmly supervised your learning,
  </p>
</div>

<div class="section section-16">
  <p>
    by labelling the non-sloths
  </p>
</div>

<div class="section section-17">
  <p>
    and celebrating the actual sloths!
  </p>
</div>

<div class="section section-18">
  <p>
    And even though not every sloth looks the same,
  </p>
</div>

<div class="section section-19">
  <p>
    after many examples, you learned the basic features that make up a sloth. 
  </p>
</div>

<div class="section section-20">
  <p>
    Now, although you sometimes weren't sure whether that thing you looked at was a sloth indeed &mdash; possibly because the picture book was a bit rubbish &mdash; you learned to give it a good guess at least. 
  </p>
  <p>
    You scanned the configuration of lines and shapes that made up the animal and gauged how likely it is for this thing to be a sloth.
  </p>
  <p>
    That's exactly what a mathematical model does, too: 
    <ol>
      <li>you give it <span class="highlight">examples</span> (many at best) </li>
      <li>you <span class="highlight">label</span> them with what you want your model to learn </li>
      <li>and let it detect <span class="highlight">patterns</span>...</li>
      <li>that help your concluding  <span class="highlight">classification</span>.</li>
    </ol>
  </p>
</div>

<div class="section section-21">
  <p>
    So &mdash; moving back to our wine example...
  </p>
</div>

<div class="section section-22">
  <p>
    we're interested in classifying wines into
  </p>
</div>

<div class="section section-23">
  <p>
    ...high-quality
  </p>
</div>

<div class="section section-24">
  <p>
    ...and low-quality wines.
  </p>
  <p>
    But whatever we do, a single bottle won’t be enough.
  </p>
</div>

<div class="section section-25">
  <p>
    Just like a single animal drawing won't teach a child what a sloth is, a model needs as many wines as we can get hold of.
  <p>
  </p>
    Let's get some...
  </p>
</div>

<div class="section section-26">
    {{! empty }}
</div>

<div class="section section-27">
  <p>
    Each wine in this dataset is labelled as either a high or a low-quality wine. This is the dataset we train the model with, our <a href="https://developers.google.com/machine-learning/crash-course/training-and-test-sets/splitting-data" target="_blank">training set</a>. 
  </p>
  <p>
    Training sets are omniscient. They have all model input variables as well as the model output variable &mdash; Quality in our case. After we trained the model it shouldn't need these labels anymore and we can test it on a dataset without any labels &mdash; a <a href="https://developers.google.com/machine-learning/crash-course/training-and-test-sets/splitting-data" target="_blank">test set</a>.
  </p>
</div>

<div class="section section-28">
  <p>
    In a next step of the analysis, the dataset splits into the Quality groups and the algorithm would identify how features differ for each group and how they correlate with the output variable. How, for example, higher quality wines might have a higher alcohol level than lower quality wines. Or how lower amounts of sulphur dioxides might increase quality, or whatever relationships the model uncovers in your data.
  </p>
  <p>
    Lastly it would formulate these results in a weighted model equation.
  </p>
</div>

<div class="section no-trigger">
  <p>
    This is the process in broad, conceptual terms. To build an actual model, we need a real, sizeable dataset with labelled data!
  </p>
</div>
