<div id="outro-modal-inner">
  
  <div id="outro-close">
    <img id="outro-close-image" src="../../static/close-grey.png" alt="close">
  </div>

  <div id="outro-modal-text">
    <h3>What next, then?</h3>

    <p>
      This little exploration was supposed to give you an idea of how machines can learn, enlighten and possibly augment the work of a winemaker &mdash; becoming a co-pilot for fine-tuning the process of winemaking by classifying high quality wine. 
    </p>
    <p>
      For explanation's sake we looked at rather simple models and took a few shortcuts in order to focus on the basics. A logical next step would be to engineer a model that is more accurate as well as more flexible in its predictions. 
    </p>
    <p>
      Considering flexibility, you might have wondered, for example, how easy it is to get a good wine with our model by just cranking up the alcohol to the max and muting Volatile Acidity to the minimum. This behavior is a feature of all linear models, like Logistic Regression. While the model itself is not a line but a curve as we've seen, it still models <span class="highlight">correlation</span> &mdash; how things move up or down together or how they move in opposite directions. As such it won't be able to identify <span class="highlight">non-linear relationships</span> &mdash; an Alcohol tipping point for example, after which quality decreases again.
    </p>
    <p>
      Another improvement would be to build a model not only on general Vinho Verde data but (also) historic <span class="highlight">tasting data</span> from a winery using such model. We would get a helping hand that leverages all the winery's past experience to improve its wine's future qualities...
    </p>
    <p>
      Santé 🍷
    </p>
  </div>

  <div id="credits">
    <p>
      This was fun and due some gratitude and credits...
    </p>
    <p>
      First of all, Thanks to <a href="https://vinoez.com/author/shawn/" target="_blank">Shawn</a> from ZAM for letting me go wild with this... Big thanks to <a href="https://www.behance.net/g-gaborieau-bookatme" target="_blank">Geoffroy Gaborieau</a>, <a href="https://twitter.com/martgnz" target="_blank">Martin Gonzales</a> and <a href="https://twitter.com/MollzMP" target="_blank">Mollie Pettit</a> for keeping me honest and providing priceless feedback!
    </p>
    <p>
      Technical thanks to <a href="https://greensock.com/" target="_blank">gsap</a>, <a href="https://roughjs.com/" target="_blank">roughjs</a>, <a href="http://d3js.org/" target="_blank">d3</a> and <a href="https://www.r-project.org/about.html" target="_blank">R</a> for makeing all these brilliant libraries and things one can make fun stuff with.
    </p>
    <p>
      The dataset comes from the seminal paper: <i>P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. <a href="https://scinapse.io/papers/2103459159" target="_blank">Modeling wine preferences by data mining from physicochemical properties.</a> In Decision Support Systems, Elsevier, 47(4):547-553, 2009.</i> which is a highly recommended read. There's more out there, but they were first!
    </p>
    <p>
      And as you ask, all the drawings were more or less badly hand drawn, based on a set of images I collected from various sources (<a href="http://sweetclipart.com/cute-colorable-piglet-52" target="_blank">Pig</a>, <a href="https://easydrawingguides.com/how-to-draw-an-alligator/" target="_blank">Crocodile</a>, <a href="https://www.how-to-draw-funny-cartoons.com/giraffe-cartoon.html" target="_blank">Giraffe</a>, <a href="https://pixy.org/4196108/" target="_blank">Whale</a>, <a href="https://depositphotos.com/248265696/stock-illustration-line-drawing-quirky-cartoon-sloth.html" target="_blank">Sloth #1</a> and <a href="https://depositphotos.com/248394246/stock-illustration-sticker-of-a-quirky-hand.html" target="_blank">Sloth #2</a>. I am afraid I can't find my inspiration for the chicklet anymore. If you're seeing this, chicklet, please contact <a href="https://www.datamake.io" target="_blank">me</a>.)
    </p>
  </div>
</div>  


