<h1 class="tight-top">What next?</h1>

<div class="section tight-bottom">
  <p>
    Thanks for reading and making it all the way down here! If there's still some wine in your goblet you could ponder how else to approach wine-modelling...
  <p>
    Maybe there are other <span class="highlight">outputs</span> that would be helpful to classify? A different quality definition or taste feature, sales figures, or other measures of success or failure.
  </p>
  <p>
    What other <span class="highlight">data sources</span> are out there? What metrics do they have? Wineries might have structured data going back decades...
  </p>
  <p>
    What <span class="highlight">models</span> can we use? Will a simple linear model capture the associations? Do we need a non-linear model like for example <a href="https://en.wikipedia.org/wiki/Support_vector_machine" target="_blank">Support Vector Machines</a> or <a href="https://en.wikipedia.org/wiki/Artificial_neural_network" target="_blank">Neural Networks</a> &mdash; harder to reason about but possibly providing higher accuracy?
  </p>
  <p>
    Maybe for another day...
  </p>
  <p>
    Santé 🍷
  </p>
</div>

<div class="section tight-top" id="credits">
  <p>
    The dataset and the original model can be found in the paper: <i>P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. <a href="https://scinapse.io/papers/2103459159" target="_blank">Modeling wine preferences by data mining from physicochemical properties.</a> In Decision Support Systems, Elsevier, 47(4):547-553, 2009</i>. 
  </p>
  <p>
    This paper, however, wasn't the only analytical adventure based on the data. The dataset aquired a life of its own thereafter, being adopted and embraced by the data science and machine learning community, so you can find a lot of analyses out there wrangling and modelling this very dataset.
  </p>
  <p>
    Much thanks to <a href="https://www.linkedin.com/in/shawn-zizzo-109783/" target="_blank">Shawn Zizzo</a> for kicking this thing off! Big thanks also to Krista Ehrenclou for the most detailed, valuable and wise feedback about all the wine related aspects in particular as well as <a href="https://twitter.com/martgnz" target="_blank">Martin Gonzales</a> and <a href="https://www.behance.net/g-gaborieau-bookatme" target="_blank">Geoffroy Gaborieau</a> for keeping me honest on the visual and design side.
  </p>
</div>